.masthead-intro {
    text-align: center;
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.masthead {
    padding: 14em;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;

}

.masthead-intro {
    margin-bottom: 0.1em;
}

.masthead-heading {
    margin-top: -0.2em;
}